@page "/app/report"

<div class="container mt-4 mb-5">

	<!-- Action Buttons -->
	<div class="d-flex justify-content-between align-items-center mb-4 no-print">
		<button class="btn btn-sm btn-outline-secondary">
			<i class="bi bi-arrow-left"></i> Back
		</button>

		<button class="btn btn-primary shadow-sm">
			<i class="bi bi-printer"></i> Print
		</button>
	</div>

	<!-- Invoice Card -->
	<div class="card shadow-sm invoice-card">
		<div class="card-body p-4 p-md-5">

			<!-- Header -->
			<div class="row invoice-header pb-3 mb-4">
				<div class="col-6">
					<h2 class="text-primary fw-bold mb-0">EXPENSE MANAGEMENT SYSTEM</h2>
					<small class="text-muted">Financial Activities Report</small>
				</div>
				<div class="col-6 text-end">
					<h4 class="fw-bold text-uppercase">@(ReportName)</h4>
					<p class="mb-0 text-muted">Search Date: @DateTime.Now.ToString("dd MMM, yyyy")</p>
				</div>
			</div>

			<!-- Date Range -->
			<div class="row mb-4 text-secondary small">
				<div class="col-12">
					<span class="badge bg-light text-dark border p-2">
						<i class="bi bi-calendar-range"></i>
						Range: @QueryDto.FromDate.ToString("dd MMM, yyyy") - @QueryDto.ToDate.ToString("dd MMM, yyyy")
					</span>
				</div>
			</div>

			<!-- Table -->
			<div class="table-responsive">
				@if(ReportViewModels is not null)
				{
					<table class="table table-bordered table-custom">
						
							@if (ReportViewModels.DepositViewModels.Any())
							{
								<thead>
									<tr>
										<th style="width:30px;" class="text-center">#</th>
										<th class="text-center">Deposit ID</th>
										<th class="text-center">Date</th>
										<th class="text-center">Remarks</th>
										<th class="text-center">Amount</th>
									</tr>
								</thead>
								<tbody>
								@{
									int sl = 1;
									decimal rowTotal = 0;
									foreach (var item in ReportViewModels.DepositViewModels)
									{
											<tr>
												<td class="text-center">@sl</td>
												<td class="text-start">@item.DepositId</td>
												<td class="text-start">@item.DepositDate.ToString("dd MMM, yyyy")</td>
												<td class="text-start">@item.Remarks</td>
												<td class="text-end fw-bold">@item.DepositAmount</td>
											</tr>
											sl++;
											rowTotal += item.DepositAmount;
									}
									<tr>
										<td colspan="4" class="text-end">Total:</td>
										<td class="text-end fw-bold">@rowTotal</td>
									</tr>
									}
								</tbody>
							}
						else if (ReportViewModels.ExpensesViewModels.Any())
						{
							<thead>
								<tr>
									<th style="width:50px;">#</th>
									<th>Date</th>
									<th>Category</th>
									<th>Description</th>
									<th>Payment</th>
									<th class="text-end">Amount</th>
								</tr>
							</thead>
							<tbody>
								@{
									int sl = 1;
									foreach (var item in ReportViewModels.ExpensesViewModels)
									{
										<tr>
											<td>@sl</td>
											<td>@item.ExpenseId</td>
											<td>@item.ExpenseCategories.ExpenseCategoryName</td>
											<td>@item.ExpenseDate.ToString("dd MMM, yyyy")</td>
											<td>>@item.PaymentMethod.GetDisplayName()</td>
											<td>>@item.Remarks</td>
											<td class="text-end fw-bold">@item.ExpenseAmount</td>
										</tr>
										sl++;
									}
								}
							</tbody>
						}
						else
							{
								<tr>
									<td colspan="6" class="text-center text-muted">
										No data found
									</td>
								</tr>
							}
					</table>
				}
			</div>

			<!-- Footer -->
			<div class="row mt-4">
				<div class="col-md-7">
					<p class="small text-muted">
						<em>* This is a system generated report.</em>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>

@code {
	[SupplyParameterFromQuery] public int QueryTypes { get; set; }
	[SupplyParameterFromQuery] public int PaymentType { get; set; }
	[SupplyParameterFromQuery] public long ExpenseCategoryId { get; set; }
	[SupplyParameterFromQuery] public decimal FromAmount { get; set; }
	[SupplyParameterFromQuery] public decimal ToAmount { get; set; }
	[SupplyParameterFromQuery] public DateTime FromDate { get; set; }
	[SupplyParameterFromQuery] public DateTime ToDate { get; set; } 
	private string ReportName { get; set; } = string.Empty;
	protected EnumQueryTypes EnumQueryTypes { get; private set; }
	private QueryDto QueryDto { get; set; } = new();
	private ReportViewModel? ReportViewModels { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		EnumQueryTypes = (EnumQueryTypes)QueryTypes;
		if (QueryTypes > 0)
			ReportName = EnumQueryTypes.GetDisplayName();

		QueryDto.QueryTypes = (EnumQueryTypes)QueryTypes;
		QueryDto.PaymentType = (EnumPaymentType)PaymentType;
		QueryDto.ExpenseCategoryId = ExpenseCategoryId;
		QueryDto.FromAmount = FromAmount;
		QueryDto.ToAmount = ToAmount;
		QueryDto.FromDate = FromDate;
		QueryDto.ToDate = ToDate;

		await LoadReportData();
	}

	private async Task LoadReportData()
	{
		ReportViewModels = await ReportApiService.SearchUserAsync(QueryDto);
	}
}