@page "/app/home"

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="fw-bold">Expense Dashboard</h1>
            <p class="text-muted">Overview of your financial activities</p>
        </div>
        <div>
            <button class="btn btn-success"><i class="bi bi-wallet2"></i> Invoice</button>
            <button class="btn btn-primary me-2" @onclick="() => OnExpensesCreateUpdateClick(0)">
                <i class="bi bi-plus-circle"></i> Add Expense</button>
            <button class="btn btn-success" @onclick="() => OnDepositCreateUpdateClick(0)">
                <i class="bi bi-wallet2"></i> Add Deposit</button>
        </div>
    </div>
 </div>

<div class="row g-4 mb-4">
    <div class="col-md-3">
        <div class="card shadow-sm border-0 text-center p-3">
            <h6 class="text-muted">Total Expenses</h6>
            <h3 class="text-danger fw-bold">@(TotalAmount)</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm border-0 text-center p-3">
            <h6 class="text-muted">Total Deposits</h6>
            <h3 class="text-success fw-bold">@(TotalAmountDeposit)</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm border-0 text-center p-3">
            <h6 class="text-muted">Current Balance</h6>
            <h3 class="text-primary fw-bold">@(CurrentBalance)</h3>
        </div>
    </div>
  
</div>

<h4 class="mt-4 mb-2">Recent Expenses</h4>

<table class="table table-bordered table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th class="text-end">Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (ExpensesViewModel != null && ExpensesViewModel.Any())
        {
            @foreach (var item in ExpensesViewModel
                    .Where(x => !x.InActive)                 
                    .OrderByDescending(x => x.ExpenseDate))  
            {
                <tr>
                    <td>@item.ExpenseDate.ToString("dd MMMM, yyyy - dddd")</td>
                    <td>--</td>
                    <td>@item.Remarks</td>
                    <td class="text-end">@item.ExpenseAmount</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center text-muted">No expenses found.</td>
            </tr>
        }
    </tbody>
</table>
<p>Total Categories: @ExpenseCategoriesViewModel.Count()</p>


@code{



    [Parameter]
    public long ExpenseId { get; set; }
    private bool IsLoading { get; set; } = false;

    private decimal TotalAmount { get; set; } = 0;
    private decimal TotalAmountDeposit { get; set; } = 0;
    private decimal CurrentBalance { get; set; } = 0;

    private List<DepositViewModel> DepositViewModels { get; set; } = [];
    private List<ExpenseCategoriesViewModel> ExpenseCategoriesViewModel { get; set; } = [];
    private List<ExpensesViewModel> ExpensesViewModel { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await LoadExpensesAsync();
        IsLoading = false;
    }

    private async Task LoadExpensesAsync()
    {
        ExpenseCategoriesViewModel = await ExpenseCategoryApiService.GetExpenseCategoriesAsync();
        ExpensesViewModel = await ExpenseApiService.GetExpensesAsync();

       
       

        TotalAmount = ExpensesViewModel
            .Where(x => !x.InActive)
            .Sum(s => s.ExpenseAmount);

        DepositViewModels = await DepositApiService.GetDepositAsync();
        TotalAmountDeposit = DepositViewModels
            .Where(x => !x.InActive)
            .Sum(s => s.DepositAmount);

        CurrentBalance = TotalAmountDeposit - TotalAmount;
    }


    private void OnExpensesCreateUpdateClick(long expenseId)
    {
        NavigationManager.NavigateTo($"/app/expenses/edit-form/{expenseId}");
    }

    private void OnDepositCreateUpdateClick(long depositId)
    {
        NavigationManager.NavigateTo($"/app/deposits/edit-form/{depositId}");
    }
}