@page "/app/home"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-12 col-md-6">
				<h1 class="fw-bold">Expense Management System</h1>
				<p class="text-muted">A true tracking of daily financial activities</p>
			</div>
			<div class="col-12 col-md-6">
				<div class="hero-button-gap">
					<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#invoiceModal">
						<i class="bi bi-search"></i> Open Seach
					</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#depositModal">
						<i class="bi bi-arrow-up-square"></i> Deposit
					</button>
					<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#expenseModal">
						<i class="bi bi-arrow-down-square"></i> Expense
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row my-5">
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Deposit</h6>
			<h3 class="text-info fw-bold">@(TotalAmount)</h3>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Expense</h6>
			<h3 class="text-warning fw-bold">@(TotalAmountDeposit)</h3>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="card shadow-sm border-0 text-center p-3">
			<h6 class="text-muted">Balance</h6>
			<h3 class="text-success fw-bold">@(CurrentBalance)</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-12">
		<div class="my-2 text-center">
			<h4>Expenses at a glance</h4>
			<p class="text-muted">Last ten activities</p>
		</div>

		<table class="table table-bordered table-striped">
			<thead class="bg-primary text-white">
				<tr>
					<th class="text-left">#</th>
					<th class="text-center">Date</th>
					<th class="text-center">Category</th>
					<th class ="text-center">Remarks</th>
					<th class="text-center">Payment</th>
					<th class="text-center">Amount</th>
				</tr>
			</thead>
			<tbody>
				@if (ExpensesViewModel.Any())
				{
					@foreach (var item in ExpensesViewModel)
					{
						<tr>
							<td>@SL</td>
							<td class="text-center">@item.ExpenseDate.ToString("dd MMM, yyyy")</td>
							<td class="text-center">@item.ExpenseCategories.ExpenseCategoryName</td>
							<td class="text-center">@item.Remarks</td>
							<td class="text-center">@item.PaymentMethod</td>
							<td class="text-center">@item.ExpenseAmount</td>
							
						</tr>
						SL++;
					}
				}
				else
				{
					<tr>
						<td colspan="6" style="text-align: center; padding: 8px 0; color: red;">No Record Found!</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-end">Total</td>
					<td class="text-center">@ExpenseTotalAmount</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>


<!-- Invoice Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="invoiceModalLabel">Search Invoice</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>
</div>

<!-- Deposit Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<DepositsComponente IsModal="true" DepositDto="new()"></DepositsComponente>
		</div>
	</div>
</div>

<!-- Expense Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content ex-cz-modal">
			<ExpenseComponente IsModal="true" ExpensesDto="new()"></ExpenseComponente>
		</div>
	</div>
</div>



@code {

	[Parameter]
	public long ExpenseId { get; set; }
	private bool IsLoading { get; set; } = false;
	private long SL { get; set; } = 1;

	private decimal TotalAmount { get; set; } = 0;
	private decimal TotalAmountDeposit { get; set; } = 0;
	private decimal CurrentBalance { get; set; } = 0;
	private decimal ExpenseTotalAmount { get; set; } = 0;

	private List<DepositViewModel> DepositViewModel { get; set; } = [];
	private List<ExpenseCategoriesViewModel> ExpenseCategoriesViewModel { get; set; } = [];
	private List<ExpensesViewModel> ExpensesViewModel { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		IsLoading = true;
		
		await LoadExpensesAsync();

		IsLoading = false;
	}

	private async Task LoadExpensesAsync()
	{
		ExpenseCategoriesViewModel = await ExpenseCategoryApiService.GetExpenseCategoriesAsync();
		ExpensesViewModel = await ExpenseApiService.GetExpensesAsync();

		ExpenseTotalAmount = ExpensesViewModel.Where(x => !x.InActive).Sum(s => s.ExpenseAmount);

		TotalAmount = ExpensesViewModel
			.Where(x => !x.InActive)
			.Sum(s => s.ExpenseAmount);

		DepositViewModel = await DepositApiService.GetDepositAsync();
		TotalAmountDeposit = DepositViewModel
			.Where(x => !x.InActive)
			.Sum(s => s.DepositAmount);

		CurrentBalance = TotalAmountDeposit - TotalAmount;
	}

	private void OnInvoiceClick()
	{
		NavigationManager.NavigateTo($"/app/invoice");
	}

}