<div class="container mt-4">
	<div class="card shadow-lg border-0">
		<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
			<h4 class="mb-0">
				@if (DepositId == 0)
				{
					<span><i class="bi bi-plus-circle"></i> Create Deposit</span>
				}
				else
				{
					<span><i class="bi bi-pencil-square"></i> Edit Deposit</span>
				}
			</h4>
			@if (IsModal)
			{
				<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" style="color: #fff !important">X</button>
			}
			else
			{
				<a href="/app/expenses" class="btn btn-light btn-sm">
					<i class="bi bi-arrow-left"></i> Back to List
				</a>
			}
		</div>

		<div class="card-body">
			<div class="row mb-3">
				@if (DepositId > 0)
				{
					<div class="col-md-4 mb-3">
						<label class="form-label fw-semibold">Deposit ID</label>
						<InputNumber @bind-Value="DepositDto.DepositId" class="form-control disabled" readonly />
					</div>
				}
				<div class="@(DepositId > 0 ? "col-md-4 mb-3" : "col-md-6 mb-3")">
					<label class="form-label fw-semibold">Deposit Date</label>
					@if (DepositId > 0)
					{
						<InputDate @bind-Value="DepositDto.DepositDate" class="form-control disabled" readonly />
					}
					else
					{
						<InputDate @bind-Value="DepositDto.DepositDate" class="form-control" />
					}
				</div>
				<div class="@(DepositId > 0 ? "col-md-4 mb-3" : "col-md-6 mb-3")">
					<label class="form-label fw-semibold">Deposit Amount</label>
					<InputNumber @bind-Value="DepositDto.DepositAmount" class="form-control" placeholder="Enter deposit amount" />
				</div>
				<div class="col-md-12 mb-3">
					<label class="form-label fw-semibold">Remarks</label>
					<InputTextArea @bind-Value="DepositDto.Remarks" class="form-control" rows="3" placeholder="Write remarks..." />
				</div>
				<div class="col-md-12 text-end">
					<button class="@(DepositId > 0 ? "btn btn-warning" : "btn btn-success")" data-bs-dismiss="@(IsModal ? "modal" : "")" aria-label="@(IsModal ? "Close" : "")" style="padding: 10px 20px;" @onclick="OnFomSubmitClickAsync">
						@((DepositId == 0) ? "Save" : "Update")
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public bool IsModal { get; set; } = false;
	[Parameter]
	public long DepositId { get; set; }
	[Parameter]
	public DepositDto DepositDto { get; set; } = new();
	private DepositViewModel DepositViewModel { get; set; } = new();

	protected async override Task OnInitializedAsync()
	{
		if (DepositId > 0)
			await LoadDipostisAsync();
	}

	private async Task LoadDipostisAsync()
	{
		DepositViewModel = await DepositApiService.GetDepositByIdAsync(DepositId);
		DepositDto.DepositId = DepositViewModel.DepositId;
		DepositDto.DepositDate = DepositViewModel.DepositDate;
		DepositDto.DepositAmount = DepositViewModel.DepositAmount;
		DepositDto.Remarks = DepositViewModel.Remarks;
	}

	private async Task OnFomSubmitClickAsync()
	{
		if (DepositId == 0)
		{
			await DepositApiService.AddDepositAsync(DepositDto);
		}
		else
		{
			await DepositApiService.UpdateDepositAsync(DepositDto);
		}

		NavigationManager.NavigateTo("/app/deposits");
	}
}