<div class="container mt-4">
	<div class="card shadow-lg border-0">
		<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
			<h4 class="mb-0">
				@if (ExpenseId == 0)
				{
					<span><i class="bi bi-plus-circle"></i> Create Expense</span>
				}
				else
				{
					<span><i class="bi bi-pencil-square"></i> Edit Expense</span>
				}
			</h4>
			@if (IsModal)
			{
				<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" style="color: #fff !important">X</button>
			}
			else
			{
				<a href="/app/expenses" class="btn btn-light btn-sm">
					<i class="bi bi-arrow-left"></i> Back to List
				</a>
			}
		</div>

		<div class="card-body">
			<div class="row mb-3">
				@if (ExpenseId > 0)
				{
					<div class="col-12 col-md-4 mb-3">
						<label class="form-label fw-semibold">Expense ID</label>
						<InputNumber @bind-Value="ExpensesDto.ExpenseId" class="form-control" readonly />
					</div>
				}

				<div class="@(IsModal ? "col-12 col-md-6" : "col-12 col-md-4")">
					<label class="form-label fw-semibold">Expense Category</label>
					<InputSelect @bind-Value="ExpensesDto.ExpenseCategoryId" class="form-control">
						<option selected>===Select Category===</option>
						@foreach (var category in ExpenseCategoriesViewModel.Where(c => !c.InActive))
						{
							<option value="@category.ExpenseCategoryId">@category.ExpenseCategoryName</option>
						}
					</InputSelect>
				</div>

				<div class="@(IsModal ? "col-12 col-md-6" : "col-12 col-md-4") mb-3">
					<label class="form-label fw-semibold">Payment Method</label>
					<InputSelect @bind-Value="ExpensesDto.PaymentMethod" class="form-control">
						@foreach (var paymentType in Enum.GetValues<EnumPaymentType>())
						{
							<option value="@paymentType.ToString()">@paymentType.GetDisplayName()</option>
						}
					</InputSelect>
				</div>

				<div class="@(IsModal ? "col-12 col-md-6" : "col-12 col-md-4") mb-3">

					<label class="form-label fw-semibold">Expense Amount</label>
					<InputNumber @bind-Value="ExpensesDto.ExpenseAmount" class="form-control" placeholder="Enter expense amount" />
				</div>

				<div class="@(IsModal ? "col-12 col-md-6" : "col-12 col-md-4") mb-3">
					<label class="form-label fw-semibold">Expense Date</label>
					@if (ExpenseId > 0)
					{
						<InputDate @bind-Value="ExpensesDto.ExpenseDate" class="form-control disabled" readonly />
					}
					else
					{
						<InputDate @bind-Value="ExpensesDto.ExpenseDate" class="form-control" />
					}
				</div>

				<div class="col-12 col-md-12 mb-3">
					<label class="form-label fw-semibold">Remarks</label>
					<InputTextArea @bind-Value="ExpensesDto.Remarks" class="form-control" rows="3" placeholder="Write remarks..." />
				</div>

				<div class="col-12  col-md-12 text-end">
					<button class="@(ExpenseId > 0 ? "btn btn-warning" : "btn btn-success")" data-bs-dismiss="@(IsModal ? "modal" : "")" aria-label="@(IsModal ? "Close" : "")" style="padding: 10px 20px;" @onclick="OnFormSubmitClickAsync">
						@((ExpenseId == 0) ? "Save" : "Update")
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public bool IsModal { get; set; } = false;
	[Parameter]
	public long? ExpenseId { get; set; } = 0;
	[Parameter]
	public ExpensesDto ExpensesDto { get; set; } = new();

	private List<ExpenseCategoriesViewModel> ExpenseCategoriesViewModel { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		ExpenseCategoriesViewModel = await ExpenseCategoryApiService.GetExpenseCategoriesAsync();
	}

	private async Task OnFormSubmitClickAsync()
	{
		if (ExpenseId == 0)
		{
			await ExpenseApiService.CreateExpenseAsync(ExpensesDto);
		}
		else
		{
			await ExpenseApiService.UpdateExpenseAsync(ExpensesDto);
		}

		NavigationManager.NavigateTo("/app/expenses");
	}

}