<div class="container mt-4">
	<div class="card shadow-lg border-0">
		<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
			<h4 class="mb-0">
				<span><i class="bi bi-search"></i> Search Report</span>
			</h4>
			<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" style="color: #fff !important">X</button>
		</div>

		<div class="card-body">
			<div class="row mb-3">
				<div class="col-12 col-md-4 mb-3">
					<label class="form-label fw-semibold">Search For</label>
					<InputSelect @bind-Value="QueryDto.QueryTypes" @bind-Value:after="OnQueryForChange" class="form-control" >
						@foreach (var queryType in Enum.GetValues<EnumQueryTypes>())
						{
							<option value="@queryType">@queryType.GetDisplayName()</option>
						}
					</InputSelect>
				</div>

				<div class="col-12 col-md-4 mb-3">
					<label class="form-label fw-semibold">From Date</label>
					<InputDate @bind-Value="QueryDto.FromDate" class="form-control" />
				</div>

				<div class="col-12 col-md-4 mb-3">
					<label class="form-label fw-semibold">To Date</label>
					<InputDate @bind-Value="QueryDto.ToDate" class="form-control" />
				</div>

				@if (IsExpenseSearch)
				{
					<div class="col-12 col-md-6 mb-3">
					<label class="form-label fw-semibold">Expense Category</label>
					<InputSelect @bind-Value="QueryDto.ExpenseCategoryId" class="form-control">
						<option selected value="0">===Select Category===</option>
						@foreach (var category in ExpenseCategoriesViewModel.Where(c => !c.InActive))
						{
							<option value="@category.ExpenseCategoryId">@category.ExpenseCategoryName</option>
						}
					</InputSelect>
				</div>

				<div class="col-12 col-md-6 mb-3">
					<label class="form-label fw-semibold">Payment Method</label>
					<InputSelect @bind-Value="QueryDto.PaymentType" class="form-control">
						@foreach (var paymentType in Enum.GetValues<EnumPaymentType>())
						{
							<option value="@paymentType.ToString()">@paymentType.GetDisplayName()</option>
						}
					</InputSelect>
				</div>
				}

				<div class="col-12 col-md-6 mb-3">
					<label class="form-label fw-semibold">From Amount</label>
					<InputNumber @bind-Value="QueryDto.FromAmount" class="form-control" placeholder="Enter from amount" />
				</div>

				<div class="col-12 col-md-6 mb-3">
					<label class="form-label fw-semibold">To Amount</label>
					<InputNumber @bind-Value="QueryDto.ToAmount" class="form-control" placeholder="Enter to amount" />
				</div>

				<div class="col-12 col-md-12 text-end">
					<button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" style="padding: 10px 20px;" @onclick="OnFormSearchClickAsync">
						Search
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private bool IsExpenseSearch {get; set;} = false;
	private QueryDto QueryDto { get; set; } = new();
	private List<DepositViewModel> DepositViewModels { get; set; } = [];
	private List<ExpenseCategoriesViewModel> ExpenseCategoriesViewModel { get; set; } = [];
	private List<ExpensesViewModel> ExpensesViewModels { get; set; } = [];

	protected override async Task OnInitializedAsync()
	{
		DepositViewModels = await DepositApiService.GetDepositAsync();
		ExpenseCategoriesViewModel = await ExpenseCategoryApiService.GetExpenseCategoriesAsync();
		ExpensesViewModels = await ExpenseApiService.GetExpensesAsync();
	}

	private void OnQueryForChange()
	{
		IsExpenseSearch = QueryDto.QueryTypes.Equals(EnumQueryTypes.ExpenseReport);
	}

	private async Task OnFormSearchClickAsync()
	{

	}

}